* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, hotpink, red);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#accordion {
    margin: 100px auto;
    width: 600px;
}

#accordion li {
    list-style: none;
    width: 100%;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
}

label {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    color: crimson;
    font-style: italic;
    text-shadow: 0.4px 0.4px black;
}

span {
    transform: rotate(90deg);
    color: red;
}

input {
    display: none;
}

.content {
    overflow: hidden;
    padding: 0 10px;
    line-height: 25px;
    max-height: 0;
    transition: max-height 0.5s ease;
}

input:checked + .content {
    max-height: 400px;
}
