*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 100vh;
    background-color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 2px white solid;
}

.btns-container{
    justify-content: space-around;
    display: flex;
}

.btn{
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
}

textarea{
    margin: 10px;
    outline: none;
}

.output-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 1s all ease;
}

button{
    border: none;
    background-color: crimson;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
}

.added{
    position: absolute;
    bottom: 35px;
    right: 20px;
    background: rgb(204, 124, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
}